body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #EDEDED;
    font-size: 17px;
    display: flex;
    overflow-x: hidden;
}

.container {
    width: 100%;
}

header {
    height: 10%;
    margin-left: 60px;
    margin-top: 60px;
    margin-bottom: 40px;
}

h1 {
    font-family: LeMurmure;
    color: black;
    font-size: 2.5em;
    letter-spacing: 10px;
    margin: 0;
}

h3 {
    font-family: Format;
    font-size: 0.8em;
    letter-spacing: 2px;
    margin: 0;
    color: #4e4e4e;
}

h4 {
    font-family: Format;
    font-size: 0.6em;
    color: #4e4e4e;
    letter-spacing: 5px;
}

.text-content-left p {
    margin: 0;
}

.text-content-left h4 {
    margin: 0;
}

.text-content-right h4 {
    margin-top: 0;
}

nav {
    margin-left: 60px;
    height: auto;
    width: 100%;
    z-index: 1;
}

.btn {
    width: 115px;
    height: 30px;
    background: linear-gradient(140deg, #F8F8F8 34.48%, #E8E8E8 81.78%);
    box-shadow: 0px 4px 4px rgba(166, 166, 166, 0.08), 1px 1px 1px rgba(118, 118, 118, 0.08);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
}

.text-content {
    display: flex;
    margin-left: 60px;
    margin-top: 40px;
}

.text-content-left {
    font-family: 'Josefin Sans', sans-serif;
    width: 35%;
}

.text-content-right {
    font-family: 'Josefin Sans', sans-serif;
    width: 35%;
    margin-left: 20%;
}

.btn p:hover {
    color: white;
}

h4 a:hover {
    color: white;
}


/*_____RESPONSIVE______*/

@media screen and (max-width: 760px) {
    .text-content {
        flex-direction: column;
    }
    .text-content-right {
        width: 90%;
        margin-left: 0%;
        margin-top: 0;
    }
    .text-content-left {
        width: 90%;
        margin-bottom: 20%;
    }
}

@media screen and (max-width: 700px) {
    header {
        margin-left: 7%;
    }
    nav {
        margin-left: 7%;
    }
    .text-content {
        margin-left: 7%;
    }
}


/*_____FONTS______*/

@font-face {
    font-family: LeMurmure;
    src: url(LeMurmure-Regular.woff2);
}

@font-face {
    font-family: Format;
    src: url(Format_1452.woff2);
}


/*_____CORRECTION______*/

a:visited {
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}