body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #EDEDED;
    overflow: hidden;
    font-size: 17px;
}

.container {
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

header {
    height: 10%;
    margin-left: 60px;
    margin-top: 60px;
    margin-bottom: 20px;

}

h1 {
    font-family: LeMurmure;
    color: black;
    font-size: 2.5em;
    letter-spacing: 10px;
    margin: 0;
}

h3 {
    font-family: Format;
    font-size: 1.2em;
    margin: 0;
    color: #4e4e4e;
}

h4 {
    font-family: Format;
    font-size: 0.6em;
    color: #4e4e4e;
    letter-spacing: 5px;
}


nav {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    font-family: Format;
}

li {
    color: #7c7c7c;
    font-size: 0.8em;
    letter-spacing: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
    margin-bottom: 3%;
}

li:hover {
    color: black;
}


/*_____BACKGROUND CHANGE______*/

.background_chg {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -5;
}

.background {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -5;
}

.bg-stonks {
    background-image: url(img_stonks/bg-stonks.png);
}

.bg-voter {
    background-image: url(img_voter/bg-voter.png);
}

.bg-amply {
    background-image: url(img_amply/bg-amply.png);
}

.bg-utopiales {
    background-image: url(img_utopiales/bg-utopiales.png);
}

.bg-gally {
    background-image: url(img_gally/bg-gally.png);
}

.bg-other {
    background-image: url(img_other/3.png);
}


/*_____________*/

.bg-wave {
    background-image: url(img_wave/bg-wave.jpg);
}

.bg-offwhite {
    background-image: url(img_off/bg-off.jpg);
}

.bg-chaos {
    background-image: url(img_chaos/bg-chaos.jpg);
}

.bg-raum {
    background-image: url(img_raum/bg_raum.jpg);
}

.bg-runover {
    background-image: url(img_runover/bg_runover.jpg);
}

.bg-drawing {
    background-image: url(img_drawing/bg-drawing.jpg);
}



/*_____RESPONSIVE______*/

@media screen and (max-width: 700px) {
    .background_chg {
        background-size: cover;
        background-position: center;
    }
    .background {
        background-size: cover;
        background-position: center;
    }
    header {
        margin-left: 7%;
    }
    nav {
        margin-left: 7%;
    }
}


/*_____FONTS______*/

@font-face {
    font-family: LeMurmure;
    src: url(LeMurmure-Regular.woff2);
}

@font-face {
    font-family: Format;
    src: url(Format_1452.woff2);
}


/*_____CORRECTION______*/

a:visited {
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}